@page

<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Originator
    </title>
</head>
<body>
    <table id="tablet" width="100%">
        <tr>
            <td><p style="font-family: 'Cormorant Garamond'; font-size: 25px; margin-top: 20px;"><a href="#Cop" style="text-decoration: none; color: #252627 ">Копирайтинг</a> </p></td>
            <td><p id="header"><a href="#dis" style="text-decoration: none; color: #252627 ">Дизайн</a> </p></td>
            <td><p id="header"><a href="#Onas" style="text-decoration: none; color: #252627 ">О нас</a> </p></td>
            <td><p id="header"><a asp-page="Index2" style="text-decoration: none; color: #252627 ">Услуги</a> </p></td>
        </tr>
    </table>
    <div id="container">
        <img id="image" src="~/images/flower.png" width="1400" height="890" style="margin: auto" />
        <p id="text">Origi</p><br />
        <p id="textt">nator</p>
    </div>
    <a id="Onas">
        <div>
            <p align="center" id="we">Тексты, тексты, тексты…<span class="custom-font"> и дизайн.</span></p>
            <p align="center" id="hi">Приветик!<strong> «Originator»</strong> - совместный проект</p>
            <p align="right" id="paint">художника</p>
            <p id="ii">и</p>
            <p id="writer">писателя</p>
        </div>
        <p align="center" id="reason">В чем особенность?</p>
        <table width="100%">
            <tr>
                <td align="center" width="50%">
                    <img src="~/images/Search-Tick.png" width="60" height="60" id="imgg" />
                </td>
                <td align="center" width="50%" margin-top: 20px;>
                    <img src="~/images/Document.png" width="60" height="60" id="imgg" />
                </td>
            </tr>
            <tr>
                <td align="center" width="50%">
                    <p id="plus">Cоздаем базу для<br /> любого бизнеса, будь то бренд<br /> одежды или автосалон</p>
                </td>
                <td align="center" width="50%">
                    <p id="plus">Продолжаем учиться<br /> и повышать квалификацию</p>
                </td>
            </tr>
            <tr>
                <td align="center" width="50%">
                    <img src="~/images/Pencil.png" width="60" height="60" id="imgg" />
                </td>
                <td align="center" width="50%">
                    <img src="~/images/Link.png" width="60" height="60" id="imgg" />
                </td>
            </tr>
            <tr>
                <td align="center" width="50%">
                    <p id="plus">Cоздаем проекты<br /> на двух языках:<br /> русском и английском</p>
                </td>
                <td align="center" width="50%">
                    <p id="plus">Помогаем клиентам и после<br /> завершения сотрудничества:<br /> к нам можно обратиться при возникновении вопросов</p>
                </td>
            </tr>
        </table>
    </a>
    <a id="Cop">
        <div>
            <p align="right" id="writer2">Копирайтинг</p>
        </div>
        <div id="container2">
            <div class="left">
                <img src="~/images/kristina.png" width="450" height="685" id="kristinaa" />
            </div>
            <div class="right">
                
                <p id="stroka">
                    Привет! Меня зовут Кристина, и я пишу тексты: художественные и официально-деловые (коммерческие).
                </p><br>
                <p id="kristinaa2">
                    Работаю с блогерами, малым бизнесом, локальными творцами (художниками, дизайнерами, модельерами, писателями и так далее).<br><br>
                    <span class="mobile-span">Что я могу:<br></span>
                    - написать текст для сайта, поста, рекламы, группы, блога;<br>
                    - создать контент-план;<br>
                    - продумать стратегию эффективного использования единицы контента (использование одного контента в разных социальных сетях и источниках трафика).

                </p>
            </div>

        </div>
        <div>
            <p id="zagolov">Примеры работ</p>
        <div class="container4" id="post1">
            <div class="post-container">
                <div class="post-header">
                    
                    <p class="text">Пост для телеграм-канала</p>
                    <button class="toggle-button">+</button>
                </div>
                <div class="post-footer hidden-text">
                    <p>
                        <span style="font-weight: bold;">Информационное ничто<br /></span>
                        Я часто наблюдаю такую ситуацию: человек хочет вести блог, записывать видео на Ютуб, стримить свою любимую компьютерную игру, но боится. И это нормально.<br /><br />
                        Я чувствую тревогу, когда думаю о публикации какого-нибудь текста в социальные сети. На фотографии мне без разницы, но текст... Тут же можно сделать кучу ошибок или написать полную чухню - и это прочтут друзья, незнакомые люди, еще кто-нибудь. Как видите, тексты я публикую, значит, работаем!<br /><br />
                        Быть в интернет-пространстве не всегда легко. Особенно при наличии каких-то ожиданий от самого себя.<br /><br />
                        Хочу сказать, что удовольствия от написанного поста или записанного видео намного больше, чем страха оказаться дурочкой. Даже если и дурочка, и чего? Ты особенный человек. Любить то, что ты делаешь, делать то, что ты любишь. Отклик от других — это приходящее и уходящее.<br /><br />
                        Сегодня утром моя подруга рассказала историю про одного популярного парня. В начале своего пути он и его команда гнались за просмотрами, а сейчас они просто do their best. И получают удовольствие. Этого, наверное, достаточно.
                    </p>
                </div>
            </div>
        </div>
        <div class="container4" id="post2">
            <div class="post-container">
                <div class="post-header">

                        <p class="text">Tекст для сайта</p>
                    <button class="toggle-button">+</button>
                </div>
                <div class="post-footer hidden-text">
                    <p>
                        Менчаково находится в 8 км от Суздаля и является местом, в котором каждый может отдохнуть от суеты большого города, окунуться в искусство и просто побыть с семьей в тишине на природе.<br /><br />
                        В Менчаково можно арендовать дом или палатку в глэмпинге. Можно рисовать, играть на музыкальных инструментах, писать песни или стихи, можно бегать по полю и играть с местной собакой. Вы также можете стать участником арт-резиденции и творить у нас, проживая бесплатно.

                    </p>
                </div>
            </div>
        </div>
       
        <div class="container4" id="post3">
            <div class="post-container">
                <div class="post-header">

                        <p class="text">Tекст для агрегаторов</p>
                    <button class="toggle-button">+</button>
                </div>
                <div class="post-footer hidden-text">
                    <p>
                        <span style="font-weight: bold;">Далеко от города - близко к сердцу.</span><br />
                        В доме есть всё необходимое для качественного отдыха: новая техника, удобная мебель, быстрый wi-fi. Мы гарантируем высокое качество обслуживания и безопасность.<br /><br />
                        В Менчаково каждый может отдохнуть от суеты большого города, окунуться в искусство и просто побыть с семьей в тишине на природе.<br /><br />
                        Подробная информация о проекте и доме ждет Вас в наших социальных сетях.<br /><br />
                        с любовью, команда MmVillage!
                    </p>
                </div>
            </div>
        </div>
        </div>

    </a>
    <a id="dis">
        <div>
            <p id="paint2">Дизайн</p>
        </div>
        <div class="container5">
            <div class="text-container">
                <p id="stoka_me">Привет-привет! Меня зовут Ангелина, но можно просто Лина.</p>
                <p id="ochem">Я дизайнер и художник.</p>
                <p id="me">
                    <strong>Что я могу:</strong><br>
                    - Провести брифинг (опрос ваших предпочтений в дизайне)<br>
                    - Создать визуал из фотографий с Pinterest, повторить которые вы сможете сами<br>
                    - Построить визуал на основе анализа конкурентов и ниши<br>
                    - Дизайн сайтов/постеров/постов<br>
                </p>
            </div>
            
            <div class="image-container">
                <img src="~/images/angelina.png" id="photo_me" alt="Фото Ангелины">
            </div>
        </div>
        <div>
            <p id="zagolov">Примеры работ</p>
        </div>
        <div class="container6">
            <div class="image-container">
                <img src="~/images/bolno.png" alt="Картинка 1">
            </div>
            <div class="image-container">
                <img src="~/images/gjhn.png" alt="Картинка 2">
            </div>
            <div class="image-container">
                <img src="~/images/моторчик.jpg" alt="Картинка 3">
            </div>
            <div class="image-container">
                <img src="~/images/gjhna.png" alt="Картинка 4">
            </div>
        </div>

    </a>
    <div style="display: flex; justify-content: center;">
        <a asp-page="Index2">
            <button class="button2">
                Узнать цену
            </button>
        </a>
    </div>
</body>
</html>